table  td,th  {
    height: 35px;
}
table th a {
    color: #7A8288;
}
table th a:hover {
    color: #ccc;
}
a {
    color: #3A3F44;
}
a:hover{
    color: #7A8288;
    text-decoration: none;
}
.code1{
    font-size: 12px;
    background: #7A8288;
}
/*.code1 a{*/
    /*color: #a6a6a6;*/
/*}*/
.code2{
    font-size: 14px;
    background:  #52575C;
}
.code3{
    font-size: 14px;
    background: #5bc0de;
}
.code4{
    font-size: 14px;
    background: #f89406;
}
.code5{
    font-size: 14px;
    background: #fdff17;
}
.code5 a {
    font-size: 14px;
    background: #f89406;
}
