
td > p:last-of-type {
    margin-bottom: 0;
}

/*hoofding vreemde dagen*/
.code0 {
    /*color: #7A8288;*/
    background: #999;
}
/*hoofding echte dagen*/
.code1 {
    background:  #2C3E50;
    color: #d3d3d3;
}
/*menu vreemde dagen*/
.code2 {
    background:   #F3F7F8;
}
/*menu echte dagen*/
.code3 {
    background: #ECF0F1;
}