/*a {*/
    /*color: #b4957d;*/
/*}*/
/*a:hover{*/
    /*color: #edc8a8;*/
    /*text-decoration: none;*/
/*}*/

td > p:last-of-type {
    margin-bottom: 0;
}

/*hoofding vreemde dagen*/
.code0 {
    /*color: #7A8288;*/
    background: #999;
}
/*hoofding echte dagen*/
.code1 {
    background:  #52575C;
}
/*menu vreemde dagen*/
.code2 {
    background:   #999;
}
/*menu echte dagen*/
.code3 {
    background: #272B30;
}